.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #7d790c;
    color: #FFF;
}


.navitem {
 list-style: none;
 color: #FFF;
 margin-bottom: 2em;
 font-weight: bold;
 font-size: 25px;
}

.logo{
    display: grid;
   
}



