.navbar {
    display: flex;
    justify-content: space-between;
    background-color: #7d790c;
}


.navlist {
 display: flex;
 list-style: none;
}

.navitem Button{
    background-color: #7d790c;
    margin-right: 1em;
    color: #FFF;
    font-weight: bold;
    font-size: large;
}


