.form_container{
    background-color: rgba(255, 255, 255, 0.863);
    margin-top: 3em;
    margin-right: 12em;
    margin-left: 12em;
    border-radius: 10px;
    height: 500px;
    color:rgba(0, 0, 0, 0.507);
    font-weight: bold;

}

.Button {
    display: flex;
    justify-content: center;
    width: 235px;
    margin-left: 10em;
    margin-top: 2em;
}

.input {
    border: 2px solid rgb(194, 194, 194);
    border-radius: 10px;
}